<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
 	<display-name>QunbUnitServlet</display-name>
         <servlet>
                 <servlet-name>QunbUnitServlet</servlet-name>
                 <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
                 <init-param>
                         <param-name>org.restlet.application</param-name>
                         <param-value>com.qunb.rest.unit.QunbUnitWSApplication </param-value>
                 </init-param>
         </servlet>
         <servlet-mapping>
  			<servlet-name>QunbUnitServlet</servlet-name>
  			<url-pattern>/unit/*</url-pattern>
 		</servlet-mapping>	
         
     <display-name>DbpediaServlet</display-name>
         <servlet>
                 <servlet-name>DbpediaServlet</servlet-name>
                 <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
                 <init-param>
                         <param-name>org.restlet.application</param-name>
                         <param-value>com.qunb.rest.dbpedia.QunbDbpediaWSApplication </param-value>
                 </init-param>
         </servlet>
         <servlet-mapping>
  				<servlet-name>DbpediaServlet</servlet-name>
  				<url-pattern>/dbpedia/*</url-pattern>
 		</servlet-mapping>

         
      <display-name>QunbDimensionServlet</display-name>
         <servlet>
                 <servlet-name>QunbDimensionServlet</servlet-name>
                 <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
                 <init-param>
                         <param-name>org.restlet.application</param-name>
                         <param-value>com.qunb.rest.dimension.QunbDimensionWSApplication </param-value>
                 </init-param>
         </servlet>
         <servlet-mapping>
  				<servlet-name>QunbDimensionServlet</servlet-name>
  				<url-pattern>/dimension/*</url-pattern>
 		</servlet-mapping>
 		
	<display-name>QunbGeoTextSearchServlet</display-name>
         <servlet>
                 <servlet-name>QunbGeoTextSearchServlet</servlet-name>
                 <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
                 <init-param>
                         <param-name>org.restlet.application</param-name>
                         <param-value>com.qunb.geosearch.TextSearch.QunbGeoTextSearchWSApplication</param-value>
                 </init-param>
         </servlet>
         <servlet-mapping>
  			<servlet-name>QunbGeoTextSearchServlet</servlet-name>
  			<url-pattern>/geosearch/textsearch/*</url-pattern>
 		</servlet-mapping>
 	
 	<display-name>QunbGeoLatLngSearchServlet</display-name>
         <servlet>
                 <servlet-name>QunbGeoLatLngSearchServlet</servlet-name>
                 <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
                 <init-param>
                         <param-name>org.restlet.application</param-name>
                         <param-value>com.qunb.geosearch.LatLngSearch.QunbGeoLatLngSearchWSApplication</param-value>
                 </init-param>
         </servlet>
         <servlet-mapping>
  			<servlet-name>QunbGeoLatLngSearchServlet</servlet-name>
  			<url-pattern>/geosearch/latlngsearch/*</url-pattern>
 		</servlet-mapping>
 	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
